:root {
    --colorGeneral: #ffa796;
    --colorText: rgb(61, 24, 30);
    --colorBody: #ffddd9;
}

* {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(61, 24, 30);
}

body{
  background-color: var(--colorBody);
}

h1, h2 {
  color: rgb(61, 24, 30);
}

.container {
    background-color: rgb(252, 246, 246) ;
    max-width: 20rem;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.content {
  display: flex;
  justify-content: space-between;
  
  width: 99%;
}

.main {
  display: flex;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 11.5rem; 
    margin-top: 10px;  
    
}



input {
    border: 5px solid var(--colorGeneral);
    border-radius: 5px;
    height: 50px;
    width: 242px;

    margin-bottom: 10px;
}

.submit {
    color:var(--colorGeneral);
    background: var(--colorText);
    cursor: pointer;
    border-radius: 5px;
    border:none;
    height: 50px;
    width: 242px;
}

.submit:hover {
    background-color: var(--colorText);
    opacity: 0.9;
    color:var(--colorGeneral);
    border-radius: 5px;
    transition: 0.6s ease;
}

#img {
  height: 11.5rem;
}

.result {
  margin-top: 2rem;
 
}
  
  
  