:root {
    --colorGeneral: #ffa796;
    --brownColor: rgb(61, 24, 30);
    --colorBody: #ffddd9;
}

* {
  padding: 0;
  margin: 0;
  color: var(--brownColor);
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

body{
  background-color: var(--brownColor);
}

h1, h2 {
  background-color: var(--brownColor);
  color: var(--colorGeneral);
  width: 90%;
  border-radius: 0px 0px 5px 5px;
}

.general {
    background-color: rgb(246, 246, 246) ;
    max-width: 21rem;
    height: 600px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.container {
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.form {
  height: 11.5rem; 
  margin-top: 10px;  
  display: flex;
  flex-direction: column;
}

input {
  height: 50px;
  width: 240px;
  margin-bottom: 10px;
  border: 5px solid var(--colorGeneral);
  border-radius: 5px;
}

.submit {
  background: var(--colorGeneral);
  color:var(--brownColor);
  height: 50px;
  width: 240px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--brownColor);
  color:var(--colorGeneral);
  transition: 0.5s ;
}

#img {
  height: 11.5rem;
}
  
#result {
  margin-top: 2rem;
  font-size: 45px;
}
